/** Mobile  360×800   **/
/** Tablet 768×1024 **/
/** Desktop 1920×1080  **/

html {
    max-width:100%
}

body {


    max-width:100%;
    min-height:100vh;
    display:flex;
    flex-direction: column;

    background-color: #00765a;
    color:azure;

    font-family: "Montserrat", serif;
    
    font-style: normal;
    font-size:14px;

}

header {
    width:100%
}

#logo {
    float:left;
    width:155px;
    height:100px;
    margin:0 0 0 0;
    
 
}

#logo h1{
   visibility: hidden;

}

#logo img {
    height:auto;
    
}
nav {
    width:50%;
    
    float:right;
    margin:15% 0 0 0;
}
nav li {
    
    float:left;
    margin:0 0 0 5%;
    font-size:0.7em;
}


nav li a {
text-transform:uppercase;
text-decoration:none;
color:azure;
font-size:0.7em;
letter-spacing:0.1em;
}

nav li a.active {
text-decoration:underline;
font-weight: bold;
color:#fcfafa;
}

.banner {
display:block;
clear:both;    
float:left;
width:100%;
height:200px;
}
.banner img {
    width:100%;
    height:100%;
}

main {
    width:100%;
    
    clear:both;
    float:left;

    margin-bottom:1em;
}

main h2 {
    margin-top:2%;
    text-align:center;
    font-size:2.8em;

}

main h3 {
    text-align:center;
    font-size:1.5em;
    margin-bottom:1em;
}

.kappale {
    margin-top:3%
}

.paiva {
    font-size:1.5em;
    text-decoration: underline;
    
}

main p {
    text-align:center;
    width:80%;
    margin: 0 10% 1em 10%;
    
}

.ruoka {
    font-size:1em;
}

.aside {
    margin-top:2em;
    font-size:0.8em;
}

footer {
    width:100%;
    margin-top:auto;
    
    font-size:0.7em;
    text-align:center;
}

#osoite {
    width:50%;
    
    float:left;
}
#yhteystiedot {
    width:50%;
    
    float:right;
}
.active {
    
}

/* Palautelomakkeen tyylittely */

form {
    width:80%;
    margin: 0 10% 0 10%;
    text-align:center;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* lähetyspainikkeen tyylittely */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  /* lomakkeen wrapperin tyylittely */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .kentta {
   
    margin-top: 6px;
  }

/* lomake loppuu */


/* Stylings for small laptop/tablet  view */ 

@media (min-width: 610px) {

body {
    font-size: 16px;
}
    
.banner {
    height:500px;
}

nav {
    margin: 6% 0 0 0;
}
nav li {
    font-size:1em;
}

nav li a:hover {
    color:#000;
}

.paiva {
    padding-bottom:1em;
}

#enimi, #snimi {
    width:30%;
  }

} /* End of laptop/tablet view */

/* Stylings for desktop view */

@media (min-width: 1300px) {
    nav {
        margin: 3% 0 0 0;
    }
    .banner {
        height:600px;
    }

    form {
        width:40%;
        margin: 0 30% 0 30%;
        text-align:center;
        
    }


}